# Конфигурация LDAP для БГУИР
# Скопируйте содержимое этого файла в .env.local

# Включить LDAP аутентификацию
LDAP_ENABLED=true

# Публичный URL приложения (для QR-кодов в отчетах)
NEXT_PUBLIC_APP_URL=http://guard-main.by:3000
# или для HTTPS:
# NEXT_PUBLIC_APP_URL=https://guard-main.by

# URL LDAP сервера БГУИР (используется ldaps для SSL)
LDAP_URL=ldaps://ldap.bsuir.by

# Базовый DN для БГУИР
LDAP_BASE_DN=dc=bsuir,dc=by

# Учетные данные для привязки к LDAP (для поиска пользователей)
LDAP_BIND_DN=uid=smdoadmin,ou=staff,dc=bsuir,dc=by
LDAP_BIND_PASSWORD=eW308687!

# Базовые DN для поиска пользователей (несколько баз через запятую)
# Поиск будет выполняться в обеих базах: staff (преподаватели) и stud (студенты)
LDAP_USER_SEARCH_BASES=ou=staff,dc=bsuir,dc=by,ou=stud,dc=bsuir,dc=by

# Фильтр поиска пользователей (по uid)
LDAP_USER_SEARCH_FILTER=(uid={username})

# Атрибуты LDAP (соответствуют Python проекту)
LDAP_USERNAME_ATTRIBUTE=uid
LDAP_EMAIL_ATTRIBUTE=mail
LDAP_FIRSTNAME_ATTRIBUTE=givenName
LDAP_LASTNAME_ATTRIBUTE=sn
LDAP_MIDDLENAME_ATTRIBUTE=middleName

# Таймаут подключения (в миллисекундах)
LDAP_TIMEOUT=10000

NEXT_PUBLIC_APP_URL=http://172.16.82.130:3000

LDAP_USER_SEARCH_BASES=ou=staff,dc=bsuir,dc=by;ou=stud,dc=bsuir,dc=by